* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* background-color: rgba(238, 238, 238, 0.6666666667); */
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background: rgb(0,118,142);
  background: linear-gradient(90deg, rgba(0,118,142,0.8786108193277311) 29%, rgba(0,212,255,0.5620842086834734) 77%);
  color: white;
  padding: 1rem 1rem;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.input-panel {
  background: rgb(0,184,221);
  background: linear-gradient(90deg, rgba(0,184,221,0.5620842086834734) 14%, rgba(0,212,255,0.5620842086834734) 36%);
  margin: 1rem;
  border-radius:0.4rem;
  background-color: #eee;
  padding: 1rem;
}

.input-area {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}

.task-input {
  height: 1.5rem;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  margin: 0 40px 0 0;
  border: 1px solid #ced4da;
  border-radius: 6px;
  flex-grow: 1;
  transition: 0.3s;
}
.task-input:focus {
  color: #444;
  border-color: #9ac9fc;
  outline: 0;
}

.timer-display {
  font-size: 1.75rem;
  font-weight: 500;
  margin-inline: 1rem;
  width: 130px;
  border:1px solid black;
  padding: 0.5rem;
  border-radius:0.5rem;
}

.list-panel {
  padding-inline: 2rem;
  max-width: 1000px;
  align-self: center;
  width: 100%;
}

.entries-list {
  list-style: none;
}
.entries-list li {
  background-color: #ccc;
  border-radius: 10px;
  margin-block: 1rem;
  padding-block: 0.25rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}
.entries-list li p {
  font-size: 1.25rem;
  margin-inline: 1rem;
}

.task-id {
  display: none;
}

.task-description {
  width: 100%;
}

.entry-controls {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  flex-shrink: 0;
  padding: 10px;
  margin-inline: 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #aaa;
  transition: 0.3s;
  border: 0;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 3px 5px 0 #aaa;
}

.btn-primary {
  background-color: #1f70c0;
  color: white;
}

.btn-green {
  background-color: #679667;
  color: white;
}

.btn-red {
  background-color: #ca3e3e;
  color: white;
}

.btn-yellow {
  background-color: #ffd519;
}

/* Icon Button */
.iconButton {
  font-size: 3rem !important;
  cursor: pointer;
}

.iconBtn-green{
  color:green !important;
}

.iconBtn-green:hover{
  color:rgb(0, 194, 0) !important;
  cursor: pointer;
}
.iconBtn-red{
 color:rgb(168, 0, 0) !important;
}
.iconBtn-red:hover{
  color:rgb(222, 0, 0) !important;
  cursor: pointer;
 }


 .pageContent{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
.counterContent{

}

.utilityContent{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* .currentTime{

} */
